<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>4ever photos Blockchain</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/skeleton-css/css/skeleton.css">
  <link rel="stylesheet" href="/skeleton-css/css/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


  <link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">Keep unique moments uploading photos to the blockchain. They will never be deleted.</h4>
          <p>Before all, you need to <a href="https://github.com/ChengOrangeJu/WebExtensionWallet" target="_blank">install WebExtensionWallet for Nebulas Blockchain</a> to make it works.</p>
          <div class="row" id="formLoader">
            <div class="loader"></div>
          </div>
          <div class="row" id="form">
            <div class="six columns">
              <input class="u-full-width" type="text" placeholder="Write the book name" id="bookName">
            </div>
            <div class="six columns">
              <a class="button button-primary" id="newAlbum">Create new album</a>
            </div>
          </div>
          <p style="font-size: 12px"><i class="fas fa-terminal"></i> <a href="javascript:" id="howCreate">Create album from Nebulas wallet</p></a>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="/images/album.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier"><i class="fas fa-globe"></i></h2>
          <h5 class="value-heading">Save forever</h5>
          <p class="value-description">Immutability is a blockchain feature that persists data forever, free from censorship.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier"><i class="fas fa-signal"></i></h2>
          <h5 class="value-heading">Always available</h5>
          <p class="value-description">The blockchain never turn off. Nobody have the centralized power to decide what to do.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier"><i class="fas fa-share-alt"></i></h2>
          <h5 class="value-heading">Share with anyone</h5>
          <p class="value-description">Anyone can see you book. You just need to share your Nebulas address wallet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">What technology is behind this?</h3>
      <img src="/images/NebulasLogo.svg" alt="Nebulas">
      <p class="section-description">4ever photos is based on Nebulas blockchain technology. Nebulas is a next generation public blockchain, aiming for a continuously improving ecosystem.</p>
      <a class="button button-primary" href="https://nebulas.io/index.html">Go to Nebulas.io</a>
    </div>
  </div>


  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/nebpay.js/dist/nebPay.js"></script>
  <script src="/javascripts/main.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>